<a href="https://colab.research.google.com/github/JesusRios1/Curso_Big_Data/blob/Development/Ejemplo_big_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Instalamos Pypsark"""
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
"""Invocamos las dependencias instaladas"""
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [ ]:
"""Inicializamos una sesion con Spark"""
spark = SparkSession.builder.appName('MyFirstSession').getOrCreate()

In [ ]:
"""Realizamos la lectura de un archivo .CSV"""
df = spark.read.option("header",True).csv("/content/sample_data/california_housing_test.csv")
"""Se imprime la estructura de los datos"""
df.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
"""Se muestra el contenido del archivo en un sample(muestra 20 registros)"""
df.show(truncate=False)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude  |latitude |housing_median_age|total_rooms|total_bedrooms|population |households |median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|27.000000         |3885.000000|661.000000    |1537.000000|606.000000 |6.608500     |344700.000000     |
|-118.300000|34.260000|43.000000         |1510.000000|310.000000    |809.000000 |277.000000 |3.599000     |176500.000000     |
|-117.810000|33.780000|27.000000         |3589.000000|507.000000    |1484.000000|495.000000 |5.793400     |270500.000000     |
|-118.360000|33.820000|28.000000         |67.000000  |15.000000     |49.000000  |11.000000  |6.135900     |330000.000000     |
|-119.670000|36.330000|19.000000         |1241.000000|244.000000    |850.000000 |237.000000 |2.937500     |81700.000000      |
|-119.560000|36.510000|37.000000         |1018.000000|213.000000    |663.000000 |204.000000 |1.663500     |67000.000000      |
|-121.430000|38.630000|43.000000         |1009.000000|225.000000    |604.000000 |218.000000 |1.664100     |67000.000000      |
|-120.650000|35.480000|19.000000         |2310.000000|471.000000    |1341.000000|441.000000 |3.225000     |166900.000000     |
|-122.840000|38.400000|15.000000         |3080.000000|617.000000    |1446.000000|599.000000 |3.669600     |194400.000000     |
|-118.020000|34.080000|31.000000         |2402.000000|632.000000    |2830.000000|603.000000 |2.333300     |164200.000000     |
|-118.240000|33.980000|45.000000         |972.000000 |249.000000    |1288.000000|261.000000 |2.205400     |125000.000000     |
|-119.120000|35.850000|37.000000         |736.000000 |166.000000    |564.000000 |138.000000 |2.416700     |58300.000000      |
|-121.930000|37.250000|36.000000         |1089.000000|182.000000    |535.000000 |170.000000 |4.690000     |252600.000000     |
|-117.030000|32.970000|16.000000         |3936.000000|694.000000    |1935.000000|659.000000 |4.562500     |231200.000000     |
|-117.970000|33.730000|27.000000         |2097.000000|325.000000    |1217.000000|331.000000 |5.712100     |222500.000000     |
|-117.990000|33.810000|42.000000         |161.000000 |40.000000     |157.000000 |50.000000  |2.200000     |153100.000000     |
|-120.810000|37.530000|15.000000         |570.000000 |123.000000    |189.000000 |107.000000 |1.875000     |181300.000000     |
|-121.200000|38.690000|26.000000         |3077.000000|607.000000    |1603.000000|595.000000 |2.717400     |137500.000000     |
|-118.880000|34.210000|26.000000         |1590.000000|196.000000    |654.000000 |199.000000 |6.585100     |300000.000000     |
|-122.590000|38.010000|35.000000         |8814.000000|1307.000000   |3450.000000|1258.000000|6.172400     |414300.000000     |
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df1 = df.withColumn("longitude",col("longitude").cast("Integer"))
df1.show()
df1.printSchema()

+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|     -122|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|     -118|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|     -117|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|     -118|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|     -119|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|     -119|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|     -121|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|     -120|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|     -122|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|     -118|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|     -118|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|     -119|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|     -121|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|     -117|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|     -117|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|     -117|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|     -120|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|     -121|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|     -118|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|     -122|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+---------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

root
 |-- longitude: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df1 = df.withColumnRenamed("longitude","long").show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|       long| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df.sort('longitude')[['longitude']].show(10)

+-----------+
|  longitude|
+-----------+
|-114.490000|
|-114.550000|
|-114.610000|
|-114.620000|
|-114.980000|
|-115.490000|
|-115.520000|
|-115.560000|
|-115.570000|
|-115.570000|
+-----------+
only showing top 10 rows

In [ ]:
from pyspark.sql import functions as F

In [ ]:
df.sort(F.desc('longitude'))[['longitude']].show(10)

+-----------+
|  longitude|
+-----------+
|-124.180000|
|-124.170000|
|-124.160000|
|-124.160000|
|-124.160000|
|-124.160000|
|-124.150000|
|-124.140000|
|-124.140000|
|-124.140000|
+-----------+
only showing top 10 rows

In [ ]:
distinctDF = df.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)

Distinct count: 3000
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude  |latitude |housing_median_age|total_rooms|total_bedrooms|population |households |median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-118.050000|33.930000|31.000000         |894.000000 |203.000000    |883.000000 |190.000000 |3.677100     |141500.000000     |
|-122.000000|37.980000|32.000000         |1013.000000|169.000000    |436.000000 |173.000000 |5.111800     |226900.000000     |
|-117.700000|33.640000|15.000000         |5743.000000|773.000000    |2380.000000|773.000000 |8.192600     |326600.000000     |
|-117.850000|33.620000|13.000000         |5192.000000|658.000000    |1865.000000|662.000000 |15.000100    |500001.000000     |
|-117.300000|33.060000|31.000000         |2128.000000|520.000000    |1049.000000|485.000000 |4.027000     |290000.000000     |
|-118.380000|34.140000|40.000000         |1965.000000|354.000000    |666.000000 |357.000000 |6.087600     |483800.000000     |
|-117.940000|33.790000|24.000000         |4179.000000|784.000000    |1902.000000|733.000000 |4.798600     |236500.000000     |
|-117.960000|34.140000|9.000000          |907.000000 |207.000000    |619.000000 |194.000000 |3.946400     |179600.000000     |
|-122.120000|37.910000|34.000000         |5683.000000|755.000000    |1962.000000|723.000000 |8.367800     |455300.000000     |
|-118.190000|33.810000|23.000000         |954.000000 |390.000000    |804.000000 |373.000000 |2.583300     |181300.000000     |
|-121.470000|38.700000|31.000000         |1007.000000|181.000000    |563.000000 |185.000000 |3.625000     |91300.000000      |
|-118.100000|33.980000|33.000000         |1927.000000|482.000000    |1623.000000|479.000000 |3.526800     |152000.000000     |
|-122.790000|38.540000|5.000000          |3986.000000|737.000000    |1887.000000|687.000000 |3.776800     |213800.000000     |
|-120.660000|35.290000|16.000000         |2272.000000|629.000000    |1689.000000|649.000000 |1.703100     |195000.000000     |
|-118.050000|33.720000|22.000000         |5416.000000|1271.000000   |2260.000000|1184.000000|3.803800     |174500.000000     |
|-120.940000|35.420000|18.000000         |3418.000000|686.000000    |970.000000 |453.000000 |3.773800     |279400.000000     |
|-121.990000|37.540000|18.000000         |3584.000000|715.000000    |1673.000000|661.000000 |3.944400     |240100.000000     |
|-118.230000|33.900000|28.000000         |1108.000000|284.000000    |1498.000000|289.000000 |2.470600     |88800.000000      |
|-121.980000|37.140000|37.000000         |74.000000  |19.000000     |63.000000  |17.000000  |9.590800     |350000.000000     |
|-117.080000|32.750000|20.000000         |1886.000000|586.000000    |1134.000000|525.000000 |1.502900     |100000.000000     |
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df.write.option("header",True) \
 .csv("/content/sample_data/Ejercicio")